$serifFont: 		"ff-tisa-web-pro", "Times New Roman", Times, serif !default;
$sansSerifFont: 	"ff-basic-gothic-web-pro", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$omnes-reg: "OmnesRegular", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$omnes-bold: "OmnesSemibold", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$opensans-reg: 'Source Sans Pro', sans-serif;

$lightPurple:		#b382ee;
$purple: 			#790081;
$darkPurple: 		#382f44;

$red: #FF0002;
$yellow: #FFA549;

$darkGreen: 		#0d9782;
$green: 			#12ab94;
$lightGreen: 		#5fb6a9;
$lightestGreen: 	#eff5f4;

$black: 			#000000;
$white: 			#ffffff;
$darkGray: 			#333433;
$gray: 				#888888;
$textGray: 			#444444;
$lightGray:			#999999;
$lighterGray: 		#f4f4f4;
$lightestGray: 		#f8f8f8;

$pink: 				#D93E5F;
$darkPink: #cb3652;
$lightPink:			#E84C6B;
$lightestPink: 		#E6647D;

$blue: #4BB6DD;
$lightBlue: #6DC2DF;
$darkBlue: #268DAE;
