@charset "utf-8";

// Variables
@import "partials/variables";

// CSS Library
@import 'partials/bootstrap';

//@import "partials/sassybuttons";

// Partial
@import "partials/layouts";
@import "partials/sidebar";
@import "partials/buttons";

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);

@font-face {
    font-family: 'OmnesRegular';
    src: url('../fonts/omnes-regular-webfont.eot');
    src: url('../fonts/omnes-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes-regular-webfont.woff') format('woff'),
         url('../fonts/omnes-regular-webfont.ttf') format('truetype'),
         url('../fonts/omnes-regular-webfont.svg#OmnesRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OmnesSemibold';
    src: url('../fonts/omnes-semibold-webfont.eot');
    src: url('../fonts/omnes-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes-semibold-webfont.woff') format('woff'),
         url('../fonts/omnes-semibold-webfont.ttf') format('truetype'),
         url('../fonts/omnes-semibold-webfont.svg#OmnesSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

