%footer
	.col-md-12.container
		%p
			%img{:src => 'images/ruby_conf_logo.svg', :width => '130', :class => 'white_fill'}
	.col-md-12.container
		%p 
			Site lovingly crafted and hosted by
			%img{:src => 'images/ninefold_long.png', :class => 'ninefold-footer'}	