%header
	.col-md-12.container.head-content
		.col-md-3
			%p.ninefold-logo-txt Built & Hosted by
			%img{:src => "images/ninefold_logo.png", :alt => "Built & Hosted by Ninefold", :width => "99"}
		.col-md-6
			%h1 
				Multifaceted 
				%span 
					Hub
			%h2.yellow
				Ruby Conf
				%span.red
					2014
				%span.purple - Sydney
			%p.date-location 19-21 February 2014 Sydney, Australia 
		.col-md-3
			%img{:src => "images/ruby_conf_logo.svg", :alt => "Ruby Conf Australia 2014", :width => "100"}
	
%aside#featured-post
	%article.col-md-8.container
		.col-md-9
			%h3 Featured post of the day
			%p  Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor. Aenean lacinia bibendum nulla sed consectetur. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
		.col-md-3.featured-img
			%img{:src => "../images/featured-img.png"}
		
%nav#main
	%ul.container
		%li.fa
			%a{:href => "/scheduler"} Scheduler 
		%li.fa
			%a{:href => "/speakers"} Speakers & Talks 
		%li.fa
			%a{:href => "/live-feed"} Live Feed 
			
			