---
title: RubyConfAU 2014 Sydney Australia | Live Feed – The HUB
description: View the Live Feed from Ruby Conf AU 2014. See the latest tweets, photos and photo-bombs, videos, interviews with the speakers and talk summaries.
---

%h1.live-title
  Check out what's happening at #rubyconfau14
%script{:type => "text/javascript", :class => "rebelmouse-embed-script", :src => "https://www.rebelmouse.com/static/js-build/embed/embed.js?site=rubyconfau&height=1500&flexible=1"}
