---
title: talks
---
- page_articles.select {|article| article.data[:type] == 'talk' }.each_with_index do |article|
  %h2 
    = link_to article.title, article 
  %span 
    = article.date.strftime('%b %e')

  = article.body

